.header{
    display: flex;    
    border: dotted;
    justify-content: center;
}
.headerText{
    flex: 1 1 auto;
    border: dotted;
    text-align: center;
}
.nav{
    border: dotted;
}
.h{
    border: dotted;
}
.contentContainer{
    display: flex;
    justify-content: space-between;
}

.contentArticle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.fishCard{
    text-align:center;
    border: outset seagreen;
    background-color:salmon;
    flex:1 1 40%;
}
.fishCard__img{
    width: 60%;
}

.quoteCard{
    border: dotted;
    text-align: center;
    background-color:blanchedalmond;
}
.quoteCard__text{
    font-size: 50px;
}

.locationCard{
    border: dotted;
    text-align: center;
    background-color: springgreen;
}
.containerRight{
    border: dotted;
    background-color: sandybrown;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.contactContainer{
    border: dotted;
}
.socialContainer{
    border: dotted;
}
